<div class="about-wrapper">
    <h2>About AllTrails</h2>
    <div class="about-content">
        <p>AllTrails was designed to bring lovers of the outdoors together. 
            Our mission is to bring you a place to share your best memories and keep a log of all your accomplishments with fellow 
            hikers, cyclists, and kayakers. We hope to form a community of like-minded individuals and bring you all a place to 
            culture relationships and to encourage exploration.</p>
    </div>
</div>
