.your-account-container {
  margin: 20px;
  color: #fff;
  height: 90vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.your-account-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.your-account-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.account-headline,
.trail-headline {
  text-align: center;
  margin: 10px 0;
  font-size: 46px;
  color: #fff;
  font-family: "Baloo 2", cursive;
}

h3 {
  margin: 8px 0;
}

.profile-bio {
  margin: 8px 90px;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
}

button {
  margin: 5px 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
}

.no-adventures {
  font-size: 18px;
}

.your-adventures-container {
  margin: 10px 0;
}

.add-adventures {
  background-color: rgba(114, 236, 0, 0.8);
}

.about-button-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.account-about {
  background-color: rgba(141, 0, 160, 0.8);
  font-weight: 600;
  color: #fff;
}

.trail {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin: 4px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  color: #000;
}

.trail-title,
.trail-location {
  font-size: 18px;
}

.trail p {
  margin: 8px 0;
}

.trail-type,
.trail-creator {
  padding-left: 30px;
  font-size: 14px;
}

.trail-description {
  padding: 0 30px;
  font-size: 16px;
}

.trail-creator {
  text-align: right;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

form {
  margin: 10px;
}

textarea {
  width: 220px;
  height: 70px;
  margin: 5px 0;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#submit-button {
  background-color: rgb(255, 166, 0);
  color: #fff;
  margin: 0 4px;
  font-weight: bold;
}

#delete-button {
  background-color: rgb(201, 35, 23);
  color: #fff;
  margin: 0 4px;
  font-weight: bold;
}

@media only screen and (min-width: 475px) {
  .your-account-container {
    padding: 0 80px;
  }

  .info-container {
    text-align: center;
  }

  h2 {
    font-size: 32px;
  }

  textarea {
    width: 501px;
  }

  .checkbox-cont {
    margin: 0 40px;
  }
}

@media only screen and (min-width: 769px) {
  .your-account-container {
    padding: 0 160px;
  }

  .your-adventures {
    margin: 30px 50px 0;
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .textarea {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .update-input-field {
    width: 250px;
  }
}

@media only screen and (min-width: 1025px) {
  .your-adventures {
    margin: 30px 100px 0;
  }
}
